a.lnk:link {
  font-size: 13px;
  color: #dddddd;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 10px;
  float: right;
}

html, body {
  background: #cccccc url(../wallpapers/cn.jpg) repeat left top;
  background-size: 100%;
  font: normal 12px tahoma, arial, verdana, sans-serif;
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  height: 100%;
}

#x-desktop {
  width: 100%;
  height: 100%;
  border: 0 none;
  position: relative;
  overflow: hidden;
  zoom: 1;
}

#x-shortcuts dt {
  float: left;
  margin: 15px 0 0 15px;
  clear: left;
  width: 64px;
  font: normal 10px tahoma,arial,verdana,sans-serif;
  text-align: center;
  zoom: 1;
  display: block;
}

#x-shortcuts dt a {
  width: 64px;
  display: block;
  color: white;
  text-decoration: none;
}

#x-shortcuts dt div {
  width: 100%;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}



}






